.App {
  text-align: center;
}

.main {
  background: #b5b89d;  
}

.header {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 5rem;
  background: #665b87;
}



.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 5rem;
  background: #95eebb;
}
