body {
  margin: 0;
  font-family: 'Indie Flower';
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
}

nav {
  justify-content: normal;
}
.flex-container {   
  display: flex;
  flex-flow: row;
  justify-content:space-between;
  align-items: center;
  width: 90%;
  border: 2px solid black;
  margin-top: 15px;
  margin-left: 30px;
  list-style-type: none;
}
.flex-item {
  margin: 15px;
  font-size: 2rem;
}
.flex-item-header {
  font-size: 1rem;
  text-align: left;
}

.main{
  margin: 30px;  
}

.misdemeaners {
  margin-left: 30px; 
  list-style-type: none; 
}

.misdemeaner-filter {
  display: flex;
  flex-flow: row;
  width: 75%;
  justify-content:space-evenly;  
}

.misdemeaner-filter-item {
font-family: 'Indie Flower';
font-size: 1rem;
}

.misdemeaners-flex-container {
  align-items: center;
}

.misdemeaner-titles{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 75%;
  justify-content:center;
  list-style-type: none;
}

.misdemeaner {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 75%;
  justify-content:center;
  list-style-type: none;
}

.misdemeaner-item {
  align-items: left;
  border-left: 1px solid black;
  padding: .2rem .4rem;
  overflow: hidden;
}

.confession-flex-container {
  display: flex;
  flex-flow: column;
  justify-content:space-right;
  align-items: center;
  width: 75%;
}
.confession-flex-container-filter {
  font-family: 'Indie Flower';
  font-size: 1rem;
  margin: 3px;
}

.confession-textarea {
  width:400px;
  height: 100px;
}

.confession-submit-button {
  display: flex;
  flex-flow: row;
  width: 75%;
  justify-content:space-evenly;  
  font-family: 'Indie Flower';
  font-size: 1rem;
}
.confession-submit-button-text {
  font-family: 'Indie Flower';
  font-size: 1rem;
}

footer {
  margin-left: 30px; 
  font-size: 0.9rem;
}
.footer-image {
  align-items: center;
}